@model VibeSpace.MODELS.VibeCreate

@{
    ViewBag.Title = "Create";
}

<section>
    <h2>Create a Vibe</h2>
    <hr />
    <div class="col-lg-12" id="formWrapper">
        @using (Html.BeginForm("Create", "Vibe", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div>
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-lg-12">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label", @style = "margin-bottom:1em" })
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                        @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label", @style = "margin-bottom:1em" })
                            <p>Please input the location of your vibe:</p>
                            @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-lg-12">
                        @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label", @style = "margin-bottom:1em" })
                            <input style="cursor:pointer" type="file" name="VibeImage" id="vibeImageUpload" onchange="(this);" />
                        </div>
                    </div>

                    <div class="form-group" style="margin-bottom: 2em;">
                        <div class="col-lg-12">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label", @style = "margin-bottom:1em" })
                            <textarea class="col-lg-12" @Html.EditorFor(model => model.Description)></textarea>
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @*<div class="form-group">
                        @Html.LabelFor(model => model.Private, htmlAttributes: new { @class = "control-label col-md-2", @id = "labels" })
                        <div class="col-lg-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.Private)
                                @Html.ValidationMessageFor(model => model.Private, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>*@

                    <div class="form-group col-lg-12">
                        <div class="col-lg-12">
                            <input style="margin-left: 2em" type="submit" value="Create" class="btn btn-info" id="loginSubmit" />
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
