@using Microsoft.AspNet.Identity.EntityFramework
@using Microsoft.AspNet.Identity.Owin
@using System.Security.Principal
@using VibeSpace.Controllers
@using VibeSpace.Services
@model IEnumerable<VibeSpace.MODELS.VibeListItem>

@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>VIBE with us</h1>
        <p class="lead">Whether it's the music, the scenery, or the all-around atmosphere, this is the place to share your favorite vibes with the world</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@
<section>
    <div class="container-fluid" id="page-wrapper">
        <div class="container-fluid" id="main">
            <!-- <div class="container-fluid" id="content-wrapper">
            <div class="container-fluid" id="content"> -->
            <div class="border"></div>
            <div class="scrolling-wrapper">
                @{
                    foreach (var item in Model)
                    {
                        <div id="card-@item.VibeID.ToString()" class="card">
                            <h3 id="cardName">@Html.ActionLink(item.Username, "PublicDetails", new { id = item.VibeID }) &nbsp;&nbsp;|&nbsp;&nbsp; @Html.DisplayFor(modelItem => item.Title)</h3>
                          
                @*@{
                                        if (Request.IsAuthenticated)
                                        {
                                            var user = User.Identity;
                                            var userId = user.

                                            if (item.Username == username)
                                            {
                                        <span class="vibeIcons"><i class="fas fa-edit"></i><i class="fas fa-trash"></i></span>
                                    }

                            }

                            }*@
                            <h4 style="margin-top:-.2em;margin-bottom:1em">@Html.DisplayFor(modelItem => item.Location)</h4>
                            @{
                                var image = item.Image;
                                String img64 = Convert.ToBase64String(image);
                                String img64Url = string.Format("data:image/" + "png" + ";base64,{0}", img64); //imagetype can be e.g. gif, jpeg, png etc.
                            }
                            <img src="@img64Url" class="vibeImage" height="350" width="400" @*style="border-radius:50%;*@ />
                            <p id="vibeDescription">@Html.DisplayFor(modelItem => item.Description)</p>
                            @*<ul>@Html.DisplayFor(modelItem => item.Tags.ToList())</ul>*@
                        </div>

                    }
                }

            </div>

        </div>
    </div>
</section>
