@model VibeSpace.MODELS.UserInfoDetail

@{
    ViewBag.Title = "Details";
}
<script type="text/javascript" src="@Url.Action("Create")"></script>
<h2>About @Model.Name</h2>
<hr />

<div class="row" id="userInfoDetail">
    <div class="col-lg-6" id="infoDivs">
        <hr />

        @{
            var image = Model.ProfileImage;
            String img64 = Convert.ToBase64String(image);
            String img64Url = string.Format("data:image/" + "png" + ";base64,{0}", img64); //imagetype can be e.g. gif, jpeg, png etc.
        }
        <img src="@img64Url" height="400" width="400" style="border-radius:50%;" />
        <hr />

    </div>
    <div class="col-lg-6" id="infoDivs">
        <hr />
        <br />
        <h3>
            @Html.DisplayNameFor(model => model.Name)
        </h3>
        <h4>
            @Html.DisplayFor(model => model.Name)
        </h4>

        <h3>
            @Html.DisplayNameFor(model => model.Username)
        </h3>
        <h4>
            @Html.DisplayFor(model => model.Username)
        </h4>

        <h3>
            @Html.DisplayNameFor(model => model.Bio)
        </h3>

        <h4>
            @Html.DisplayFor(model => model.Bio)
        </h4>
        <h3>
            @Html.DisplayNameFor(model => model.Location)
        </h3>

        <h4>
            @Html.DisplayFor(model => model.Location)
        </h4>
        <br />
        <p>
            @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
                @Html.ActionLink("Back to List", "Index")*@
            <a id="loginSubmit" class="btn btn-info" href="@Url.Action("Edit", "UserInfo")">Edit</a> |
            <a id="loginSubmit" class="btn btn-info" href="@Url.Action("Index", "UserInfo")">Back To Profile</a>
        </p>

        <hr />
    </div>
</div>


