
@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()


        <ul class="nav navbar-nav navbar-right">
            @*<li>
                @{
                    @model VibeSpace.Services.UserInfoService
                    var id = User.Identity.GetUserId();
                    var _ctx = Model;
                    var user = _ctx.GetUsersByUserId(id);
                    var image = user.ProfileImage;
                    String img64 = Convert.ToBase64String(image);
                    String img64Url = string.Format("data:image/" + "png" + ";base64,{0}", img64); //imagetype can be e.g. gif, jpeg, png etc.
                }
                <img src="@img64Url" height="50" width="50" style="border-radius:50%;" />
            </li>*@
            <li>
                @Html.ActionLink("Profile", "Details", "UserInfo", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()" data-toggle="popover" title="LOGOUT" data-content="Logout">
                    <i class="fas fa-running"></i>
                    <i class="fas fa-door-open"></i>
                </a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
        @*<li>
                <a href="@Url.Action("Register", "Account", new { id = "registerLink" })">
                    <i class="fas fa-user-edit"></i>
                    <span>
                        <strong>Register</strong>
                    </span>
                </a>
            </li>*@
        <li>
            <a href="@Url.Action("Login", "Account", new { id = "loginLink" })">
                <i class="fas fa-user-alt"></i>
                @*<span>
                        <strong>Login</strong>
                    </span>*@
            </a>
        </li>

    </ul>
}
